.backButton {
  background-color: #339af0;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.backButton:hover {
  background-color: #1c7ed6;
}

.backButton:active {
  background-color: #1864ab;
}
